<h1 class="title">Registreer PXL Account</h1><br/>
<label>E-mail</label><br/>
<input id="email" type="email"><br/><br/>
<label>Wachtwoord</label><br/>
<input id="password" type="password"><br/><br/>
<label>Wachtwoord opnieuw</label><br/>
<input id="password2" type="password"><br/><br/>
<label>Voornaam</label><br/>
<input id="surname" type="text"><br/><br/>
<label>Achternaam</label><br/>
<input id="name" type="text"><br/><br/>
<div>
  <button (click)="registerAccount()">Registreer</button>
</div>

<div id="output"></div>

