main {
  width: 20%;
  text-align: center;
}

div {
  text-align: center;
  padding-bottom: 3%;
}

.title {
  display: inline-block;
  margin-left: 0;
  width: 80%;
  padding: 0;
  color: black;
}

#login-button {
  margin-right: 3%;
}

#output {
  color: red;
}

label {
  color: black;
}

input {
  background-color: white;
  color: black;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
}
