<proposal-basic-app></proposal-basic-app>
<div id="feedbackSection">
  <h1 class="title">Opdracht reviews</h1>
  <section>
    <form id="approvedFeedback">
      <h1 class="title">Leerkrachten goedgekeurde feedback</h1>

    </form>

    <form id="deniedFeedback">
      <h1 class="title">Leerkrachten afgekeurde feedback</h1>

    </form>

    <form id="coordinatorFeedback">
      <h1 class="title">Coordinator feedback</h1>

    </form>
  </section>
</div>
<h1 class="title">Verwijderen</h1>
<section>
  <form>
    <button (click)="deleteProposal()">Verwijderen</button>
  </form>
</section>
